#menu1 {
    left: 50%;
    top : 0;
}
#menu2 {
    right: 0;
}
.menu-root{
    position: absolute;
    text-align: center;
    cursor: pointer;
}
.menu{
    border: 1px solid red;
    display: inline-block;
    height: 1.1rem;
    text-align: left;
}
.menu:hover{
    background-color: red;
}
.menu-item.menu:hover{
    background-color: brown;
}
.menu-item {
    border: 1px solid green;
    border-radius: 5px;
    --height: 1.1rem;
    position: relative;
    margin-left: 15px;
    padding-left: 5px;
    cursor: pointer;
}

.menu-item:hover{
    background-color: green;
}